
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
**/ny_taxi_postgre_data/*
**/ny_taxi_postgresql_data/*
serving_dir
*.csv
*.csv.gz
*.parquet
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**/data/*
**/video/*
**/audio/*
**sld.txt
.vscode
!week4/dbt/taxi_rides_ny_bq/seeds/taxi_zone_lookup.csv
!week4/dbt/taxi_rides_fhv_ny_bq/seeds/taxi_zone_lookup.csv
week4/metabase
